/* You can add global styles to this file, and also import other style files */
body {
  font-family: 'Open Sans', sans-serif;
  border-color: #efefef;
}

.mail-content{
  padding-top: 60px;
  color: #333;
}
